h2 {
  text-align: center;
  color: #277582;
  padding: 20px;
}
label {
  color: white;
  font-size: 17px;
}

span {
  color: white;
  font-size: 17px;
}
a {
  float: right;
  background-color: grey;
}
