body {
  margin: 0;
  padding: 0;
  background-color: #6abadeba;
  font-family: 'Arial';
}

h2 {
  text-align: center;
  color: #277582;
  padding: 20px;
}
label {
  color: white;
  font-size: 17px;
}
.lblError {
  color: red;
  font-size: 13px;
}
button {
  background-color: #24d529;
  color: white;
  font-weight: 300;
  height: 30px;
}

span {
  color: white;
  font-size: 17px;
}
a {
  float: left;
  color: grey;
}
