<div class="login">
  <form id="login" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <label for="username">User Name </label>
    <input
      type="text"
      name="Username"
      class="Username"
      formControlName="username"
      placeholder="Username"
      [ngClass]="{ 'is-invalid': submitted && form.username.errors }"
      tabindex="1"
      aria-label="username"
    />
    <span *ngIf="submitted && form.username.errors" class="invalid-feedback">
      <span *ngIf="form.username.errors.required">Username is required</span>
    </span>

    <br /><br />
    <label for="password">Password</label><br />
    <input
      type="Password"
      name="Pass"
      class="Username"
      placeholder="Password"
      formControlName="password"
      aria-label="password"
      [ngClass]="{ 'is-invalid': submitted && form.password.errors }"
    />
    <span *ngIf="submitted && form.password.errors" class="invalid-feedback">
      <span *ngIf="form.password.errors.required">Password is required</span>
    </span>

    <br /><br />
    <button type="submit" name="log" id="log" value="Sign Up">sign Up</button>
    <br /><br />
  </form>
</div>
