<form class="form1" [formGroup]="editForm">
  <h4 *ngIf="!edit">Add Form</h4>
  <h4 *ngIf="edit">Edit Form</h4>

  <label for="name">Name</label>
  <input type="text" id="name" formControlName="name" aria-label="name" />
  <span *ngIf="submitted && form.name.errors" class="invalid-feedback">
    <span *ngIf="form.errors.required">Name is required</span>
  </span>

  <label for="description">Description</label>
  <input type="text" id="description" formControlName="description" aria-label="Description" />
  <span *ngIf="submitted && form.description.errors" class="invalid-feedback">
    <span *ngIf="form.description.errors.required">Description is required</span>
  </span>

  <label for="images">Images</label>
  <input type="text" id="images" type="text" formControlName="imageUrl" aria-label="image" />
  <span *ngIf="submitted && form.description.imageUrl" class="invalid-feedback">
    <span *ngIf="form.imageUrl.errors.required">Image is required</span>
  </span>
  <button type="submit" aria-label="save" (click)="saveForm(editForm.value)">Save</button>
  <button type="submit" (click)="resetForm()" aria-label="Reset">Reset</button>
</form>
