<div>
  <button routerLink="/addEdit" *ngIf="isAuthenticated" class="addImageBtn">Add Image</button>
</div>
<table>
  <thead class="thead-dark">
    <tr>
      <th tabindex="0">ID</th>
      <th tabindex="0">Name</th>
      <th tabindex="0">Description</th>
      <th tabindex="0">Images</th>
      <th colspan="2" *ngIf="isAuthenticated">Actions</th>
    </tr>
  </thead>

  <tr *ngFor="let img of images">
    <td tabindex="0">
      {{ img.id }}
    </td>
    <td tabindex="0">
      {{ img.name }}
    </td>
    <td tabindex="0">
      {{ img.description }}
    </td>
    <td tabindex="0"><img src="{{ img.imageUrl }}" alt="Nature" /></td>
    <td tabindex="0" *ngIf="isAuthenticated">
      <button routerLink="/addEdit/{{ img.id }}">
        Edit
      </button>
    </td>
    <td tabindex="0" *ngIf="isAuthenticated">
      <button class="delete" (click)="delete(img.id)" *ngIf="isAuthenticated">Delete</button>
    </td>
  </tr>
</table>
