.table td,
.table th {
  vertical-align: middle;
  text-align: center;
}
img {
  height: 100px;
  width: auto;
}
.delete {
  background: red;
}
button:disabled {
  background-color: lightgray;
  color: grey;
}
.addImageBtn {
  float: right;
  width: 10%;
  background-color: #2196f3;
}
